@model DocflowApp.Models.FolderViewModel
@{
    ViewBag.Title = "Папки";
}
<h2>Папки</h2>
<p>
    @Html.ActionLink("Добавить", "Create", new { id = Model.Entity !=null ? Model.Entity.Id.ToString() : "" })
</p>
<table class="table">
    <tr>
        <td width=32 />
        <th>
            @Html.DisplayNameFor(model => model.Entity.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entity.Root)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entity.Date)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Folders)
    {
        <tr>
            <td>
                @Html.ActionLink(item.FolderName, "Index", new { root = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Root)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id, ReturnUrl = Request.RawUrl })
            </td>
        </tr>
    }
</table>